
<div class="postcontent-0"><div class="content-layout">
    <div class="content-layout-row">
    <div class="layout-cell layout-item-0" style="width: 100%" >
        <p>before</p>
    </div>
    </div>
</div>
<div class="content-layout">
    <div class="content-layout-row">
    <div class="layout-cell layout-item-0" style="width: 67%" >
        <p>contentQuadTopLeft<br></p>
    </div><div class="layout-cell layout-item-0" style="width: 33%" >
        <p>contentQuadTopRight<br></p>
    </div>
    </div>
</div>
<div class="content-layout">
    <div class="content-layout-row">
    <div class="layout-cell layout-item-0" style="width: 67%" >
        <p>contentQuadBottomLeft</p>
    </div><div class="layout-cell layout-item-0" style="width: 33%" >
        <p>contentQuadBottomRight<br></p>
    </div>
    </div>
</div>
<div class="content-layout">
    <div class="content-layout-row">
    <div class="layout-cell layout-item-0" style="width: 100%" >
        <p>after</p>
    </div>
    </div>
</div>
</div>